:root {
	--logo: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='157' height='141'%3E%3Cpath fill='%239D9D9D' fill-rule='nonzero' d='m13.362 9.53 49.396 13.746s-17.942 18.174 3.96 34.251c.581-.157 6.138-11.719-2.899-12.389l-.289-1.566 17.4-8.414s12.116 6.292 6.059 19.106c0 0 21.365-12.58-4.139-29.359L133.857.072s74.164 100.003-47.316 140.609c0 0 21.861-55.283-3.308-54.946 0 0-21.525-2.104.959 39.845 0 0-89.936 6.376-83.56-76.177 0 0 3.02-24.498 10.739-36.579l1.847-2.958.144-.336Z'/%3E%3C/svg%3E");
}

body {
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.n-carousel {

	gap: 1rem;

	&.n-carousel--vertical {
		--max-height: 100dvh;
	}

	&.n-carousel--tabs > .n-carousel__index > * {
		padding: 1rem;
	}

	input[type="color"] {
		appearance: none;
		border: none;
		background: none;
		width: 3rem;
		height: 3rem;
		border-radius: 0.5rem;
		overflow: hidden;
		padding: 0;
		margin: 0;
	}
}

.square {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	
	-webkit-mask-size: contain;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
}

section#masks {
	display: flex;
	> * {
		flex: 1 1 auto;
	}
}