:root {
  --logo: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='157' height='141'%3E%3Cpath fill='%239D9D9D' fill-rule='nonzero' d='m13.362 9.53 49.396 13.746s-17.942 18.174 3.96 34.251c.581-.157 6.138-11.719-2.899-12.389l-.289-1.566 17.4-8.414s12.116 6.292 6.059 19.106c0 0 21.365-12.58-4.139-29.359L133.857.072s74.164 100.003-47.316 140.609c0 0 21.861-55.283-3.308-54.946 0 0-21.525-2.104.959 39.845 0 0-89.936 6.376-83.56-76.177 0 0 3.02-24.498 10.739-36.579l1.847-2.958.144-.336Z'/%3E%3C/svg%3E");
  --nui-color: #41034d;
  --nui-control-bg: #4F46E5;
  --nui-control-color: white;
  background: lightcyan;
  --nui-border-radius: .5rem;
  --nui-control-active-color: lightgreen;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  color: var(--nui-color);
}

#home {
  display: flex;
  flex-direction: column;
}
#home h2 {
  flex-grow: 1;
}

.n-carousel {
  gap: 1rem;
}
.n-carousel.n-carousel--vertical {
  --max-height: 100dvh;
}
.n-carousel.n-carousel--tabs > .n-carousel__index > * {
  padding: 1rem;
}
.n-carousel input[type=color] {
  appearance: none;
  border: none;
  background: none;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.n-carousel__index {
  margin: 0.5rem;
}

.square {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-mask: center no-repeat;
  -webkit-mask-size: contain;
  mask: center no-repeat;
  mask-size: contain;
}

section#masks .grid {
  display: flex;
  gap: 1rem;
}
section#masks .grid > * {
  flex: 1;
  min-width: 0;
}

form {
  padding: 1rem;
}

label {
  user-select: none;
}

form:has([required]:valid) {
  background: lightgreen;
}

.expander {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.25s;
}

.expander > div {
  min-height: 0;
}

:checked ~ .expander {
  grid-template-rows: 1fr;
}

.subgrid-demo img {
  max-width: 100%;
}

@media screen and (min-width: 600px) {
  .subgrid-demo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .subgrid-demo > * {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
  }
  .subgrid-demo > * img {
    max-width: 100%;
  }
}
.n-carousel__content img.card-avatar {
  height: 3.5rem;
}

.scroll-container,
.scroll-area {
  display: flex;
  max-width: 850px;
  height: 600px;
  font-size: 60px;
}

.scroll-container {
  scroll-snap-type: both mandatory;
  border-radius: var(--nui-border-radius);
}

.scroll-area {
  scroll-snap-align: center;
}

.scroll-area {
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  flex-shrink: 0;
}

.scroll-area:nth-of-type(1) {
  background: #49b293;
}

.scroll-area:nth-of-type(2) {
  background: #c94e4b;
}

.scroll-area:nth-of-type(3) {
  background: #4cc1be;
}

.scroll-area:nth-of-type(4) {
  background: #8360A6;
}

pre {
  display: inline-block;
  max-width: 100%;
  box-sizing: border-box;
  vertical-align: top;
  border-radius: var(--nui-border-radius);
}

.n-btn {
  border-radius: var(--nui-border-radius);
}

dialog {
  position: fixed;
  inset: 0;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 0.5rem;
}

summary {
  user-select: none;
  cursor: pointer;
}

details[open] summary {
  background-image: var(--chevron-up);
}

.styled-summary summary {
  --chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='%23333' fill-rule='evenodd' d='M4.53 7.713a.625.625 0 0 1 .882-.058l4.176 3.654a.625.625 0 0 0 .824 0l4.176-3.654a.625.625 0 0 1 .824.94l-4.177 3.655a1.875 1.875 0 0 1-2.47 0L4.588 8.595a.625.625 0 0 1-.058-.882Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  --chevron-up: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='%23333' fill-rule='evenodd' d='M8.765 7.964a1.875 1.875 0 0 1 2.47 0l4.177 3.655a.625.625 0 0 1-.824.94l-4.176-3.654a.625.625 0 0 0-.824 0l-4.176 3.654a.625.625 0 1 1-.824-.94l4.177-3.655Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  border-radius: 0.5rem;
  border: 1px solid var(--light-mode-tints-shades-primary-200, #B0A5C4);
  padding: 0.625rem;
  background: var(--chevron) no-repeat calc(100% - 0.5rem) center;
  cursor: pointer;
  user-select: none;
  margin-bottom: 1rem;
}
.styled-summary summary::-webkit-details-marker, .styled-summary summary::marker {
  display: none;
  content: "";
}

.code {
  display: inline-block;
  position: relative;
  max-width: 100%;
  vertical-align: top;
}
.code button {
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
}

/*# sourceMappingURL=css.css.map */
